/* ./assets/css/tailwind.css */
@import url('https://fonts.googleapis.com/css2?family=Ramabhadra&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* .fade-enter-active,
.fade-leave-active {
  transition-duration: 0.3s;
  transition-property: opacity;
  transition-timing-function: ease;
}

.fade-enter,
.fade-leave-active {
  opacity: 0;
} */

.your-custom-active-link {
  background-color: transparent;
}
.your-custom-exact-active-link {
  border-bottom: blueviolet;
  border-bottom-style: solid;
  border-bottom-width: 2px;
}
